{% extends 'base.html.twig' %}

{% block title %}Suscripción
{% endblock %}

{% block body %}

<h2>{{ service.name }}</h2>
<p>
  Descripción
</p>
<p>
  {{ service.description }}
</p>
<p>
  Dirección web
</p>
<p>
  {{ service.urlservice }}
</p>


{% endblock %}