{% extends 'base.html.twig' %}

{% block title %}Inicio
{% endblock %}

{% block body %}

{# <h2>Todas las suscripciones de los usuarios</h2>
{{ include('includes/service-list.html.twig') }} #}

<h2>Página de inicio</h2>
{% endblock %}