{% extends 'base.html.twig' %}

{% block title %}Mis suscripciones
{% endblock %}

{% block body %}

	<h2 class="mt-3">Mis suscripciones</h2>

	{{ include('includes/service-list.html.twig') }}


{% endblock %}
