{% extends 'base.html.twig' %}

{% block title %}
	Política de privacidad
{% endblock %}

{% block body %}

	<div class="col-lg-10 offset-lg-1 mb-4">
		<div class="">
			<h1>Política de privacidad</h1>
			<h2 class="text-center">Actualizado el 1 de abril de 2020</h2>
			<p>
				News & Fun (en adelante "News & Fun" o "nosotros") considera de suma importancia la protección y seguridad de la
				      información sobre usted. El propósito de esta Política de privacidad es informarle sobre cómo usamos sus Datos,
				      las medidas de seguridad que implementamos para garantizar su integridad y los derechos que tiene para controlar
				      el uso de sus Datos.
			</p>
			<p>
				La Política de privacidad es aplicable en la relación existente entre usted, Usuario de nuestro sitio web y News &
				      Fun, propietario y editor del sitio web. Esta Política de privacidad se aplica al uso de los Datos que recopilamos
				      o que nos proporciona en relación con su uso de nuestro sitio web. Lo alentamos a que lo lea detenidamente .
			</p>

			<h2>Definiciones e interpretación</h2>
			<p>
				En esta política de privacidad, se utilizan las siguientes definiciones:
			</p>
			<h6>DATOS</h6>
			<p>
				En conjunto, toda la información que envíe a News & Fun a través de nuestro sitio web.
			</p>
			<h6>INFORMACIÓN PERSONAL</h6>
			<p>
				Colectivamente, toda la información que lo hace identificable directa o indirectamente (por ejemplo, su nombre,
				      nombre, dirección, número de teléfono o dirección de correo electrónico, pero también la dirección IP de su
				      computadora, por ejemplo, o la información relacionada con su navegación en nuestro sitio web).
			</p>
			<h6>GALLETAS</h6>
			<p>
				Nuestro sitio web coloca un pequeño archivo de texto en su computadora cuando visita ciertas partes del sitio web
				      y / o cuando usa ciertas funciones del sitio web. Consulte la Política de cookies para obtener más información.
			</p>
			<h6>CONTROLADOR DE DATOS PERSONALES</h6>
			<p>
				El procesamiento de los datos personales proporcionados o recopilados en el sitio web se lleva a cabo bajo la
				      supervisión de News & Fun SAS, cuya sede se encuentra en 1 rue du Mail en París (75002), Francia.
			</p>
			<h6>GDPR</h6>
			<p>
				El "Reglamento general de protección de datos" (Reglamento de la UE 2016/679), así como cualquier legislación
				      nacional adoptada de conformidad con el mismo.
			</p>
			<h6>DIRECTIVA DE PRIVACIDAD ELECTRÓNICA</h6>
			<p>
				La Directiva 2002/58 / CE del Parlamento Europeo y del Consejo, de 12 de julio de 2002, sobre el tratamiento de
				      datos personales y la protección de la privacidad en el sector de las comunicaciones electrónicas, modificada en
				      2009, así como cualquier legislación nacional adoptada de conformidad con el mismo.
			</p>
			<h6>USUARIO O USTED</h6>
			<p>
				Cualquier usuario de Internet que acceda al sitio web y que (i) no esté empleado por News & Fun y actúe en el
				      curso de su empleo; ni (ii) contratado como consultor o de otro modo proporcionando servicios a News & Fun y
				      accediendo al sitio web en relación con la prestación de dichos servicios.
			</p>
			<h6>SITIO WEB</h6>
			<p>
				Los siguientes sitios web:
				<a href="http://news-and-fun.test">news-and-fun.com</a>
				y todos los subdominios de éste
				      sitio web, a menos que estén expresamente excluidos del alcance de esta Política por sus propios términos y
				      condiciones.
			</p>

			<h2>Alcance de esta política de privacidad</h2>
			<p>
				Esta política de privacidad se aplica solo a las acciones de News & Fun y de los usuarios con respecto a nuestro
				      sitio web. No se extiende a los sitios web a los que se puede acceder desde nuestro sitio web, incluidos, entre
				      otros, los enlaces que podemos proporcionar a los sitios web de redes sociales.
			</p>

			<h2>Uso de datos personales</h2>
			<p>
				Cuando compra productos o servicios de nuestro sitio web, recopilamos y procesamos los datos necesarios para el
				      seguimiento de nuestra relación contractual.
			</p>

			<h2>Retención de datos personales</h2>
			<p>
				El período de retención de los Datos personales procesados ​​por News & Fun puede variar según la práctica común,
				      los documentos considerados de acuerdo con las obligaciones legales y las reglas de limitación aplicables.
			</p>
			<p>
				Con respecto a los datos de la tarjeta de crédito, News & Fun utiliza proveedores de servicios de pago que
				      administran los datos de las transacciones de acuerdo con las estrictas reglas de seguridad aplicables a los pagos
				      en línea a través de métodos de cifrado.
			</p>
			<p>
				Todos los datos personales se almacenan de forma segura en nuestros servidores de acuerdo con los estándares de la
				      industria y el GDPR. Para obtener más detalles sobre las medidas de seguridad implementadas, consulte la sección
				      "Seguridad" a continuación.
			</p>

			<h2>Destinatarios de los datos personales</h2>
			<p>
				Transmitimos sus Datos a nuestros empleados que están autorizados para procesarlos como parte de sus funciones.
			</p>
			<p>
				También podemos transmitir algunos de sus datos a nuestros proveedores de servicios técnicos y logísticos que
				      actúan en nuestro nombre, y nos aseguramos de que brinden las garantías necesarias con respecto al GDPR.
			</p>
			<p>
				Para permitir el acceso a ciertos métodos de pago, utilizamos proveedores externos que también pueden recopilar
				      Datos personales. En este caso, dichos proveedores de servicios son responsables de la recopilación y el
				      procesamiento de datos para la prestación del servicio. Consulte, si es necesario, su propia política de
				      privacidad.
			</p>
			<p>
				Todos los datos personales utilizados por estos terceros se utilizan únicamente para los fines de los servicios
				      prestados a nuestra solicitud. Cualquier uso para otros fines está estrictamente prohibido. Además, cualquier
				      información personal procesada por terceros estará de acuerdo con los términos de esta Política de privacidad y
				      con el GDPR. Los proveedores de terceros que utilizamos solo recopilarán, usarán y divulgarán su información en la
				      medida necesaria para permitirles realizar los servicios que nos brindan.
			</p>
			<p>
				En ciertas circunstancias y donde lo requiera la ley, podemos transmitir sus datos a las autoridades
				      administrativas o judiciales competentes o cualquier otro tercero autorizado.
			</p>
		</div>
	</div>

{% endblock %}
