{% extends 'base.html.twig' %}

{% block title %}
Política de cookies
{% endblock %}

{% block body %}

<div class="col-lg-10 offset-lg-1 mb-4">
  <div class="">
    <h1>Política de cookies</h1>
    <h2 class="text-center">Actualizado el 1 de abril de 2020</h2>
    <p>
      Nuestro sitio web puede colocar y tener acceso a ciertas Cookies, incluidas las Cookies de terceros, en su
      dispositivo. News & Fun utiliza cookies para hacer que su experiencia de usar nuestro sitio web sea más agradable,
      así como para mejorar nuestra gama de productos. News & Fun ha elegido cuidadosamente tales Cookies y terceros, y
      ha tomado medidas para garantizar que su privacidad esté protegida y respetada en todo momento. También hemos
      desarrollado esta Política para proporcionarle información completa sobre el uso de Cookies en nuestro sitio web.
      Esta Política complementa nuestra Política de Privacidad y Uso de Datos Personales (en adelante denominada "
      Política de Privacidad ").
    </p>

    <h2>Nuestros compromisos</h2>
    <p>
      Todas las cookies utilizadas por nuestro sitio web cumplen con la Directiva de privacidad electrónica y con
      nuestra Política de privacidad .
    </p>

    <h2>Cookies que usamos</h2>
    <p>
      News & Fun utiliza diferentes tipos de cookies en su sitio web para hacer que la experiencia del usuario sea más
      agradable, memorizar sus preferencias y personalizar sus ofertas.
    </p>
    <p>
      Nuestro sitio web puede colocar los siguientes tipos de cookies:
    </p>
    <ul id="" class="pl-3">
      <li>Cookies analíticas / de rendimiento : nos permiten recopilar datos estadísticos relacionados con su uso de
        nuestro sitio web. Dichos datos contribuyen a la mejora continua del funcionamiento de nuestro sitio web, en
        particular al garantizar que los usuarios encuentren fácilmente lo que están buscando.</li>
      <li>Cookies de funcionalidad : estas cookies son estrictamente necesarias para el uso adecuado de nuestro sitio
        web. Se utilizan para reconocerlo cuando regresa a nuestro sitio web, lo que nos permite personalizar el
        contenido para usted y, en general, para proporcionarle nuestros servicios (como las cookies llamadas "carrito
        de compras").</li>
      <li>Cookies de orientación : estas cookies registran su visita a nuestro sitio web, las páginas que ha visitado y
        los enlaces que ha seguido. Utilizaremos esta información para hacer que nuestro sitio web y la publicidad que
        se muestra en él sean más relevantes para sus intereses. También podemos compartir esta información con terceros
        para este propósito.</li>
    </ul>

    <h2>Su gestión de cookies</h2>
    <p>
      El registro de cookies en su dispositivo está sujeto a su consentimiento previo. Antes de colocar cookies en su
      computadora, nuestro sitio web le enviará un mensaje solicitando su consentimiento para configurar estas cookies
      (en forma de un banner, que aparecerá durante su primera visita). Al consentir en colocar dichas Cookies, usted le
      brinda a News & Fun y / o nuestros socios la oportunidad de mejorar nuestros servicios y brindarle una experiencia
      más agradable como Usuario de nuestro sitio web. También puede administrar el uso de cookies en cualquier momento
      configurando el software de su navegador, utilizando la herramienta Ghostery o desactivando las cookies.
    </p>
    <p>
      Puede elegir eliminar las cookies en cualquier momento; sin embargo, puede perder información que le permita
      acceder a nuestro sitio web de manera más rápida y eficiente, incluidas, entre otras, las configuraciones de
      personalización. Le recomendamos que se asegure de que su navegador web esté actualizado y que consulte el menú de
      'ayuda' y los consejos proporcionados por el desarrollador de su navegador si no sabe cómo ajustar su
      configuración de privacidad.
    </p>

    <h2>¿Cuánto duran las cookies?</h2>
    <p>
      La vida útil de nuestras Cookies cumple con la normativa vigente y en ningún caso puede exceder los 13 meses.
    </p>

    <hr>
    <p>
      Para obtener más información sobre el uso de cookies, visite el sitio web de CNIL en: <a
        href="http://www.cnil.fr/vos-droits/vos-traces/les-Cookies/">http://www.cnil.fr/vos-droits/vos-traces/les-Cookies/</a>
      .
    </p>
  </div>
</div>

{% endblock %}