{% extends 'base.html.twig' %}

{% block title %}
	Términos y condiciones
{% endblock %}

{% block body %}

	<div class="col-lg-10 offset-lg-1 mb-4">
		<div class="">
			<h1>Términos y condiciones</h1>
			<h2>Bienvenido/a a News & Fun</h2>
			<p>
				News & Fun ofrece servicios de suscripciones RSS (en adelante denominados "Productos") disponibles en su sitio web
								      accesible en
				<a href="http://news-and-fun.test">news-and-fun.com</a>
				(en adelante, el "Sitio").
			</p>
			<p>
				Está a punto de utilizar un servicio de última generación de suscripciones RSS, ¡eso es increíble!
			</p>
			<p>
				No se preocupe, independientemente de su elección, recibirá los mismos Productos increíbles, con el soporte
								      técnico y digital de News & Fun.
			</p>
			<p>
				News & Fun se compromete a ofrecerle la mejor experiencia al cliente y la política de devolución descrita en los
								      Términos y condiciones de News & Fun también se aplicará a los Productos comprados a través de Flow.
			</p>

			<h2>Garantías</h2>
			<p>
				Salvo lo dispuesto expresamente en estos TC, News & Fun, como proveedor, no se compromete específicamente con los
								      cotenidos de las noticias difundidas desde otros sitios web. Por ejemplo, no nos comprometemos con respecto a las
								      características específicas disponibles a través
								      de los Productos, su confiabilidad, disponibilidad o adecuación a sus necesidades. Ofrecemos nuestros productos
								      "tal cual".
			</p>
			<p>
				Sin embargo, los clientes que tienen el estado de consumidor en su propio país pueden beneficiarse de los derechos
								      de garantía legal locales.
			</p>
			<p>
				Por ejemplo, los clientes ubicados en Francia y que tienen la condición de consumidores (es decir, cualquier
								      persona física que actúe para fines que están fuera del alcance de su actividad comercial, industrial, artesanal,
								      liberal o agrícola) pueden beneficiarse de la garantía legal del vendedor contra no conformidad de conformidad con
								      los artículos L.217-4 et seq. del Código de consumo francés y la garantía legal del vendedor contra defectos
								      ocultos de conformidad con los artículos 1641 y siguientes. del Código Civil francés. Con respecto a la garantía
								      legal de conformidad, el consumidor debe actuar dentro de un período de dos años a partir de la entrega del
								      Producto. Puede elegir entre reparar o reemplazar el Producto sujeto a las condiciones de costo establecidas en el
								      artículo L.217-9 del Código del Consumidor francés. Está exento de probar la no conformidad del Producto en el
								      momento de la entrega dentro de los veinticuatro (24) meses que siguen a la entrega del Producto. Esta garantía se
								      aplica independientemente de cualquier otra garantía comercial. El Cliente también puede decidir implementar la
								      garantía contra los defectos ocultos del Producto según lo dispuesto en el Artículo 1641 del Código Civil francés
								      y puede elegir entre la cancelación de la venta y una reducción del precio de venta de acuerdo con el Artículo
								      1644 de El Código Civil francés. La garantía de conformidad se excluye si el consumidor se dio cuenta del defecto
								      en el momento de la contratación o cuando no pudo ignorar este defecto en el momento de la contratación o cuando
								      News & Fun demuestra que la falta de conformidad no existía en el momento de la entrega de el producto. Un
								      defecto oculto significa un defecto no aparente del Producto, que lo hace inadecuado para su uso previsto o que
								      disminuye ese uso que el Cliente no lo habría adquirido o le habría dado un precio más bajo, si lo hubiera sabido.
								      La acción resultante de defectos ocultos debe llevarse a cabo dentro de los dos años posteriores al descubrimiento
								      del defecto. haciéndolo inadecuado para su uso previsto o que disminuya tanto ese uso que el Cliente no lo habría
								      adquirido o le habría dado un precio más bajo, si lo hubiera sabido. La acción resultante de defectos ocultos debe
								      llevarse a cabo dentro de los dos años posteriores al descubrimiento del defecto. haciéndolo inadecuado para su
								      uso previsto o que disminuya tanto ese uso que el Cliente no lo habría adquirido o le habría dado un precio más
								      bajo, si lo hubiera sabido. La acción resultante de defectos ocultos debe llevarse a cabo dentro de los dos años
								      posteriores al descubrimiento del defecto.
			</p>
			<h2>Propiedad intelectual</h2>
			<p>
				El publicante de las noticias es propietario intelectual de artículos de opinión y editoriales. Esta propiedad
								      está destinada exclusivamente a permitirle consumir los contenidos. No puede copiar, modificar, distribuir, vender
								      o alquilar ninguno o todo
								      el contenido que forma parte de él. Del mismo modo, no puede descompilar ni intentar extraer el código fuente de
								      dicho contenido, excepto en los casos en que el derecho a descompilar esté autorizado por la ley y dentro de los
								      límites establecidos por esta ley u obtenido nuestra autorización previa por escrito. Lo anterior no se aplica al
								      uso de contenido de código abierto utilizado por nuestros productos. Estos se pueden ofrecer bajo una licencia de
								      código abierto que pondremos a su disposición. La licencia de código abierto puede contener disposiciones que
								      anulen algunas de estas condiciones.
			</p>
			<p>
				No debe realizar ningún cambio en los Productos (sin derecho, por ejemplo, a cambiar los contenidos o parte de
								      ellos) ni
								      quitar las etiquetas o las características distintivas de las marcas comerciales bajo las cuales News & Fun las
								      ofrece, ni agregar ningún nombre de marca o indicación de ningún tipo ni redistribuir los Productos. No deberá
								      modificar el contenido de la bandeja de entrada (a menos que sea necesario para cumplir con la ley o regulación
								      local, y solo después de discutirlo con News & Fun) ni hacer ninguna representación que no esté en línea con la
								      literatura de News & Fun.
			</p>

		</div>
	</div>

{% endblock %}
