{% extends 'base.html.twig' %}

{% block title %}
Términos de uso
{% endblock %}

{% block body %}

<div class="col-lg-10 offset-lg-1 mb-4">
  <div class="">
    <h1>Términos de uso y descargo de responsabilidad</h1>
    <h2>Términos de uso</h2>
    <p>
      Estos Términos de uso definen los derechos y obligaciones de las partes en relación con el uso del sitio web
      accesible en <a href="http://news-and-fun.test">news-and-fun.com</a> y la aplicación News & Fun Live . Las
      palabras en
      mayúscula en este documento tendrán el significado que se les atribuye en los Términos y condiciones de venta
    </p>
    <h2>Disponibilidad</h2>
    <p>
      News & Fun se esforzará, en la medida de lo posible, por mantener el Sitio accesible los 7 días de la semana y las
      24 horas del día. Sin embargo, el acceso al Sitio puede suspenderse temporalmente debido a mantenimiento técnico,
      migración o actualizaciones, o debido a fallas o restricciones en relación con el funcionamiento de Internet.
    </p>
    <p>
      Las redes en las que fluyen los datos tienen diferentes características y capacidades y pueden saturarse en
      ciertos momentos del día, lo que puede afectar sus tiempos de descarga y su accesibilidad. News & Fun no se hace
      responsable de cualquier mal funcionamiento o incapacidad para acceder al Sitio atribuible a terceros, a una
      congestión de la red, a equipos inadecuados del Cliente, a un mantenimiento o actualización del Sitio oa cualquier
      otra circunstancia no atribuible a News & Fun.
    </p>
    <h2>Derechos de propiedad intelectual</h2>
    <p>
      News & Fun es el único propietario de todos los derechos de propiedad intelectual relacionados con los Productos y
      el Sitio. Cualquier contenido que News & Fun muestre o ponga a disposición actualmente en el futuro, como textos,
      logotipos, imágenes, música, descargas digitales y compilaciones de datos, es propiedad de News & Fun, sus
      afiliados o proveedores y está protegido por propiedad intelectual francesa e internacional. ley. Los nombres y
      logotipos de News & Fun son marcas registradas de News & Fun. Las marcas registradas y los logotipos de News & Fun
      no pueden utilizarse para productos o servicios que no sean fabricados u ofrecidos respectivamente por News & Fun,
      o de ninguna manera que pueda causar confusión en el público, o de cualquier manera que menoscabe o desacredite a
      News & Fun.
    </p>
    <p>
      En consecuencia, usted acepta no reproducir, representar, extraer y utilizar de ninguna manera ninguna o todas las
      marcas registradas, logotipos, sitio web o productos de News & Fun.
    </p>
    <h2>Renuncia</h2>
    <p>
      La información incluida en este sitio web no constituye asesoramiento legal, financiero o de inversión y no
      pretende ser una recomendación para comprar, comerciar o vender activos criptográficos. Se recomienda buscar el
      asesoramiento de expertos legales y financieros antes de comenzar a comprar, comerciar o vender activos de
      cifrado. News & Fun SAS, News & Fun Technologies Inc. y todas las demás compañías mencionadas en este sitio web no
      serán responsables de las consecuencias de la confianza en cualquier opinión o declaración contenida en este
      documento ni de ninguna omisión.
    </p>
    <p>
      Los criptoactivos son volátiles. Debe ser plenamente consciente del nivel de riesgo involucrado antes de operar.
      Cualquier pérdida de datos, activos de cifrado o ganancias es su exclusiva responsabilidad.
    </p>
    <p>
      Tenga en cuenta que usted es el único responsable de la forma en que usa, almacena y realiza una copia de
      seguridad de su información y datos relacionados con sus activos de cifrado (Bitcoins, Ethereum, etc.) en relación
      con los Productos.
    </p>
    <p>
      Usted es el único responsable de mantener la confidencialidad de sus nombres de usuario, frase de recuperación y
      código PIN, y en general de cualquier medio para asegurar su acceso personal y privado a sus cuentas usando los
      Productos, así como las restricciones de acceso a su computadora y otros equipos y, en la medida permitida por la
      ley aplicable, usted acepta ser responsable de todas las actividades que se hayan realizado desde su cuenta o con
      su código PIN o frase de recuperación. Debe tomar todas las medidas necesarias para garantizar que su contraseña,
      código PIN y frase de recuperación permanezcan confidenciales y seguras.
    </p>
    <p>
      Debe asegurarse de que su uso de los productos de hardware y software de News & Fun cumpla con las leyes y
      regulaciones de su país de residencia.
    </p>
  </div>
</div>

{% endblock %}