{% extends 'base.html.twig' %}

{% block title %}Youtube
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row text-center">
			<div class="col-12 col-md-8 offset-md-2 mt-3">
				<h2 class="mt-3">Esta ruta está reservada para los vídeos que subamos a Yotube en el próximo producto.</h2>


			</div>
		</div>
	</div>
	<!-- container -->

{% endblock %}
