.bg-light {
  background-color: #ffb064 !important;
}

.navbar-brand img {
  width: 106px;
  margin: -5px 0px -10px 0;
}

@media screen and (min-width: 576px) {
  .navbar-brand img {
    margin: -5px 0px -10px 30%;
  }
}

@media screen and (min-width: 992px) {
  .dropdown-menu {
    margin-left: -65px;
  }
}
