body {
  margin: 0;
  padding: 0;
}

main {
  min-height: 300px;
}

.bg-light,
footer {
  background-color: #ffb064 !important;
}

.navbar-brand img {
  width: 106px;
  margin: -5px 0px -10px 0;
}

@media screen and (min-width: 576px) {
  .navbar-brand img {
    margin: -5px 0px -10px 30%;
  }
}

@media screen and (min-width: 992px) {
  .dropdown-menu {
    margin-left: -65px;
  }
}

footer {
  color: #1b1b1b;
}

footer a:link {
  text-decoration: none;
  color: #1b1b1b;
}

footer a:hover {
  text-decoration: underline;
}

footer a:visited {
  text-decoration: none;
  color: #1b1b1b;
}
.redes-sociales {
  padding: 10px;
  /* background-color: var(--purple-light); */
}

.redes-sociales img {
  padding: 5px;
  border-radius: 20%;
  width: 50px;
  transition: 0.3s ease all;
}

.redes-sociales img:hover {
  transform: scale(1.2);
}
