#index:
#    path: /
#    controller: App\Controller\DefaultController::index

services:
  path: /
  controller: App\Controller\ServiceController::index

service_detail:
  path: /servicio/{id}
  controller: App\Controller\ServiceController::detail

service_creation:
  path: /nueva-suscripcion
  controller: App\Controller\ServiceController::creation

my_services:
  path: /mis-suscripciones
  controller: App\Controller\ServiceController::myServices

service_edit:
  path: /editar-suscripcion/{id}
  controller: App\Controller\ServiceController::edit

service_delete:
  path: /borrar-suscripcion/{id}
  controller: App\Controller\ServiceController::delete

register:
  path: /registro
  controller: App\Controller\UserController::register

login:
  path: /login
  controller: App\Controller\UserController::login

logout:
  path: /logout
