#index:
#    path: /
#    controller: App\Controller\DefaultController::index

index:
  path: /
  controller: App\Controller\ServiceController::index

services:
  path: /ver-noticias
  controller: App\Controller\ServiceController::services

service_detail:
  path: /servicio/{id}
  controller: App\Controller\ServiceController::detail

service_creation:
  path: /nueva-suscripcion
  controller: App\Controller\ServiceController::creation

my_services:
  path: /mis-suscripciones
  controller: App\Controller\ServiceController::myServices

service_edit:
  path: /editar-suscripcion/{id}
  controller: App\Controller\ServiceController::edit

service_delete:
  path: /borrar-suscripcion/{id}
  controller: App\Controller\ServiceController::delete

category_detail:
  path: /categoria/{id}
  controller: App\Controller\CategoryController::detail

by_category:
  path: /por-categoria/{id}
  controller: App\Controller\CategoryController::byCategory

category_creation:
  path: /nueva-categoria
  controller: App\Controller\CategoryController::creation

my_categories:
  path: /mis-categorias
  controller: App\Controller\CategoryController::myCategories

category_edit:
  path: /editar-categoria/{id}
  controller: App\Controller\CategoryController::edit

category_delete:
  path: /borrar-categoria/{id}
  controller: App\Controller\CategoryController::delete

register:
  path: /registro
  controller: App\Controller\UserController::register

profile_view:
  path: /mi-perfil
  controller: App\Controller\UserController::profile_view

profile_edit:
  path: /editar-perfil
  controller: App\Controller\UserController::profile_edit

# legal
terminos_y_condiciones:
  path: /terminos-y-condiciones
  controller: App\Controller\ServiceController::terminosYCondiciones

terminos_de_uso:
  path: /terminos-de-uso
  controller: App\Controller\ServiceController::terminosDeUso

politica_de_privacidad:
  path: /politica-de-privacidad
  controller: App\Controller\ServiceController::politicaDePrivacidad

politica_de_cookies:
  path: /politica-de-cookies
  controller: App\Controller\ServiceController::politicaDeCookies
# end legal

login:
  path: /login
  controller: App\Controller\UserController::login

logout:
  path: /logout

user_delete:
  path: /darse-de-baja
  controller: App\Controller\UserController::delete
