#index:
#    path: /
#    controller: App\Controller\DefaultController::index

services:
  path: /
  controller: App\Controller\ServiceController::index

service_detail:
  path: /servicio/{id}
  controller: App\Controller\ServiceController::detail

service_creation:
  path: /nuevo-canal
  controller: App\Controller\ServiceController::creation

register:
  path: /registro
  controller: App\Controller\UserController::register

login:
  path: /login
  controller: App\Controller\UserController::login

logout:
  path: /logout
