#index:
#    path: /
#    controller: App\Controller\DefaultController::index

services:
  path: /
  controller: App\Controller\ServiceController::index

register:
  path: /registro
  controller: App\Controller\UserController::register

login:
  path: /login
  controller: App\Controller\UserController::login

logout:
  path: /logout
